
<div class="container">
  <h3>Reviews for <%= @restaurant.name %></h3>
  <% @reviews.each do |r| %>
  <div class="bottom-border">
    <p><%= r.content %></p>
  </div>
  <% end %>
  <p><%= link_to 'Back to restaurant', restaurant_path(@restaurant)  %></p>
</div>
